<div *ngIf="error" class="error"><p>{{error}}</p></div>
<div class="container">
    <h1 style="text-align: center;">Add New Listing</h1>
<form class="card"  [formGroup]="listingForm" (ngSubmit)="onAdd()">
    <div class="form-container">
        <div class="input">
            <label class="input-label" for="listingId">Listing ID</label>
            <input type="text" name="listingId" required placeholder="Enter Listing ID" formControlName="listingId" class="form-input">
        </div>
        <div class="input">
            <label class="input-label" for="title">Title</label>
            <input type="text" name="title" required 
            placeholder="Enter Title" 
            formControlName="title" class="form-input">
        </div>
        <div class="input">
            <label class="input-label" for="description">Description</label>
            <input type="text" name="description" required 
            placeholder="Enter Description" 
            formControlName="description" class="form-input">
        </div>
        <div class="input">
            <label for="street" class="input-label">Street</label>
            <input type="text" name="street" required 
            placeholder="Enter Street" 
            formControlName="street" class="form-input">
        </div>
        <div class="input">
            <label class="input-label" for="city">City</label>
            <input type="text" name="city" required 
            placeholder="Enter City" 
            formControlName="city" class="form-input">
        </div>
        <div class="input">
            <label class="input-label" for="postalCode">Postal Code</label>
            <input type="text" name="postalCode" required 
            placeholder="Enter Postal Code" 
            formControlName="postalCode" class="form-input">
        </div>
        <div class="input">
            <label class="input-label" for="price">Price</label>
            <input type="text" name="price" required 
            placeholder="Enter Price" 
            formControlName="price" class="form-input">
        </div>
        <div class="input">
            <label class="input-label" for="email">Email</label>
            <input type="email" name="email" required 
            placeholder="Enter Email" 
            formControlName="email" class="form-input">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>

</div>
