<div *ngIf="error" class="error"><p>{{error}}</p></div>
<div class="container">
    <h1 style="text-align: center;">Register</h1>
    <form class="card" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-container">
            <div class="input">
                <label class="input-label" for="firstname">First Name</label>
                <input class="form-input" type="text" name="firstname" required placeholder="Enter First Name" formControlName="firstname">
            </div>
            <div class="input">
                <label class="input-label" for="lastname">Last Name</label>
                <input class="form-input" type="text" name="lastname" required placeholder="Enter Last Name" formControlName="lastname">
            </div>
            <div class="input">
                <label class="input-label" for="username">Username</label>
                <input class="form-input" type="text" name="username" required placeholder="Enter Username" formControlName="username">
            </div>
            <div class="input">
                <label class="input-label" for="password">Password</label>
                <input class="form-input" type="password" name="password" required formControlName="password" placeholder="Enter Password">
            </div>
            <div class="input">
                <label class="input-label" for="email">Email</label>
                <input class="form-input" type="email" name="email" required placeholder="Enter Email" formControlName="email">
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>

</div>
